// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{

}

.card{   
    height: 28rem;
    width: 18rem;  
    background-color: rgba(194, 213, 238, 0.938)
}
.card-body{
height: auto;
width:100%;
padding:0;
text-align: center;
background-color: rgba(199, 217, 241, 0.938) !important;
}
.card-header, .card-footer{
    width:100%;
    height:auto;
}
.card-header{
font-family: "Pokemon";
text-align: center;
background-color: rgba(136, 172, 218, 0.938) !important;
color: rgb(206, 206, 17);
text-shadow: 2px 0 0 rgb(49, 115, 238), -2px 0 0 rgb(49, 115, 238), 0 2px 0 rgb(49, 115, 238), 0 -2px 0 rgb(49, 115, 238), 1px 1px  rgb(49, 115, 238), -1px -1px 0 rgb(49, 115, 238), 1px -1px 0 rgb(49, 115, 238), -1px 1px 0 rgb(49, 115, 238);

}
.card-header h5{
    padding:1px!important;
    font-size: 2em;
    letter-spacing: 5px!important;
}
.img-fluid{
    width: 15em;
    height: auto;
    background-color: rgba(194, 213, 238, 0.938)
}
.card-body::-webkit-scrollbar{    
    display: none;
}

.wrap{ 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
} 

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
   // border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
  
.poke-card{
    margin:10px;
}

.footer-add{
    background-color:rgba(104, 196, 104, 0.842);
    color:white !important;
    text-align: center !important;
    position: relative;    
}

.add-sub{
    text-align: center !important;
    color:white !important;
    text-decoration: none !important;
}

.add-sub:hover{    
    color:grey !important;
    text-decoration: none !important;
}

.footer-hability{
    background-color: rgba(221, 177, 96, 0.959);
    color: rgb(139, 104, 5) !important;
    text-align: center !important;
}